---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


@import "minimal-mistakes";

html {
  //font-size: 14px; // 16change to whatever
  font-size: 14px; // 16change to whatever

  @include breakpoint($medium) {
    //font-size: 16px; // 18change to whatever
    font-size: 16px; // 18change to whatever
  }

  @include breakpoint($large) {
    //font-size: 18px; // 20change to whatever
    font-size: 18px; // 20change to whatever
  }

  @include breakpoint($x-large) {
    //font-size: 20px; // 22change to whatever
    font-size: 20px; // 22change to whatever
  }
}
